@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Acrom/Acrom-Regular.eot") format("eot"), url("../font/Acrom/Acrom-Regular.ttf") format("ttf"), url("../font/Acrom/Acrom-Regular.woff") format("woff"), url("../font/Acrom/Acrom-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 600;
  src: url("../font/Acrom/Acrom-Medium.eot") format("eot"), url("../font/Acrom/Acrom-Medium.ttf") format("ttf"), url("../font/Acrom/Acrom-Medium.woff") format("woff"), url("../font/Acrom/Acrom-Medium.woff2") format("woff2"); }

@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 800;
  src: url("../font/Acrom/Acrom-Bold.eot") format("eot"), url("../font/Acrom/Acrom-Bold.ttf") format("ttf"), url("../font/Acrom/Acrom-Bold.woff") format("woff"), url("../font/Acrom/Acrom-Bold.woff2") format("woff2"); }

html {
  font-size: 62.5%; }

body {
  font-family: 'Acrom';
  color: #717171; }

.header {
  width: 100%;
  height: 130px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  -webkit-box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
  margin: 0 auto; }

.container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto; }

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 860px;
  height: 100%; }

.header__nav {
  height: 100%; }
  .header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.6rem;
    padding-left: 0px;
    list-style-type: none;
    margin: 0 auto;
    padding-top: 52px; }

.header__item {
  margin: 0 30px; }
  .header__item a {
    display: block;
    padding-top: 15px;
    padding-bottom: 37px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #717171; }
    .header__item a:hover {
      font-weight: 700;
      color: #237c80;
      border-bottom: 3px solid #237c80; }

.block-btn {
  font-size: 1.6rem;
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid #237c80;
  color: #237c80;
  font-weight: 500;
  padding: 8px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer; }
  .block-btn:hover {
    background-color: #237c80;
    color: #fff; }
  .block-btn:active {
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25); }
  .block-btn:active, .block-btn:focus {
    outline: 0; }

.header__box {
  font-size: 2.5rem;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__menu {
  border: none;
  background-color: #fff;
  color: #237c80;
  cursor: pointer; }
  .header__menu:active, .header__menu:focus {
    outline: 0; }
  .header__menu:active {
    text-shadow: 1px 1px 0 rgba(35, 124, 128, 0.5); }

.header__bell {
  text-decoration: none;
  color: #237c80;
  position: relative; }
  .header__bell:hover::after, .header__bell:active::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 16px;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    border-radius: 100%;
    background-color: #71a6e1;
    z-index: 1; }
  .header__bell:active {
    text-shadow: 1px 1px 0 rgba(35, 124, 128, 0.5); }

.section__title {
  width: 100%;
  height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.title__logo {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05); }
  .title__logo i {
    position: relative;
    color: #237c80;
    font-size: 3rem;
    left: 10px; }
  .title__logo::before {
    content: '';
    position: absolute;
    left: -5px;
    bottom: -5px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 0.5px solid #71a6e1; }

.section__title span {
  color: #237c80;
  font-size: 2.6rem;
  font-weight: 700;
  padding-left: 20px; }

.section__wrapper {
  position: relative;
  top: 25px; }

.section__wrapper::before {
  content: '';
  position: absolute;
  left: -150px;
  right: -150px;
  top: -25px;
  bottom: -60px;
  background-color: #f9f9f9;
  border-radius: 80px;
  z-index: -1; }

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px; }

.form__input {
  width: 420px;
  height: 40px;
  padding-left: 20px;
  padding-right: 80px;
  border: 0.5px solid #71a6e1;
  border-radius: 20px;
  font-size: 1.4rem; }
  .form__input:active, .form__input:focus {
    outline: 0; }

.form__submit {
  font-size: 2rem;
  border: none;
  color: #237c80;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  right: 50px;
  top: 2px; }
  .form__submit:active, .form__submit:focus {
    outline: 0; }
  .form__submit:active {
    text-shadow: 1px 1px 0 rgba(35, 124, 128, 0.5); }

.filter__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.rating,
.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border: 0.5px solid #71a6e1;
  border-radius: 20px;
  background-color: #fff; }

.rating {
  width: 280px;
  padding: 0 15px; }

.price {
  width: 140px;
  margin-left: 20px;
  padding: 0 13px; }

.rating__text,
.price__text {
  font-size: 1.6rem;
  font-weight: 500; }

.rating__value,
.price__value {
  overflow: hidden;
  height: 22px; }

.rating__value {
  width: 100px;
  padding: 0; }

.price__value {
  width: 60px; }

.rating__value label,
.price__value label {
  display: block;
  margin: 0 2.5px; }

.rating__value:not(:checked) > input,
.price__value:not(:checked) > input {
  display: none; }

.rating__value:not(:checked) > label,
.price__value:not(:checked) > label {
  float: right;
  padding: 0;
  cursor: pointer;
  font-size: 1.5rem;
  color: #cacaca; }

.rating__value > input:checked ~ label,
.price__value > input:checked ~ label {
  color: #237c80; }

.rating__value:not(:checked) > label:hover,
.rating__value:not(:checked) > label:hover ~ label,
.price__value:not(:checked) > label:hover,
.price__value:not(:checked) > label:hover ~ label {
  color: #237c80; }

.rating__value > input:checked + label:hover,
.rating__value > input:checked + label:hover ~ label,
.rating__value > input:checked ~ label:hover,
.rating__value > input:checked ~ label:hover ~ label,
.rating__value > label:hover ~ input:checked ~ label,
.price__value > input:checked + label:hover,
.price__value > input:checked + label:hover ~ label,
.price__value > input:checked ~ label:hover,
.price__value > input:checked ~ label:hover ~ label,
.price__value > label:hover ~ input:checked ~ label {
  color: #237c80; }

.rating__value > label:active,
.price__value > label:active {
  position: relative; }

.section__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 45px; }

.section__item {
  width: 309px;
  height: 490px;
  border-radius: 30px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 27px;
  position: relative; }

.item-avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: relative; }
  .item-avatar::before {
    content: '';
    left: -5px;
    bottom: -5px;
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: 0.5px solid #71a6e1; }

.item-portfolio {
  font-size: 2rem;
  position: absolute;
  right: 25px;
  top: 25px;
  color: #237c80;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .item-portfolio:active, .item-portfolio:focus {
    outline: 0; }
  .item-portfolio:active {
    text-shadow: 1px 1px 0 rgba(35, 124, 128, 0.5); }

.item-rating {
  text-align: center;
  width: 170px;
  height: 20px;
  font-size: 2rem;
  color: #cacaca;
  line-height: 100%;
  margin-top: 10px;
  margin-bottom: 15px; }

.active {
  color: #237c80; }

.item-rating i {
  padding-left: 5px;
  width: 20px;
  height: 20px; }

.item-name {
  font-size: 1.5rem;
  font-weight: 500; }

.item-speciality {
  margin-top: 15px;
  border-radius: 6px;
  border: none;
  background-color: #71a6e1;
  width: 170px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 400; }

.item-speciality .civil-cases::before {
  content: '\e805';
  font-size: 1.5rem;
  position: relative;
  left: -5px; }

.item-speciality .criminal::before {
  content: '\e806';
  font-size: 1.5rem;
  position: relative;
  left: -5px; }

.item-text {
  font-size: 1.4rem;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  width: 255px;
  height: 80px;
  line-height: 1.2; }

.item-price {
  color: #cacaca;
  margin-top: 15px;
  margin-bottom: 15px; }

.item-price i {
  font-size: 2rem;
  margin: 0 2.5px; }

.item-button {
  padding: 6px 26px;
  font-size: 1.4rem; }

.section__paginator {
  display: block;
  margin: 80px auto 0;
  text-align: center; }
  .section__paginator ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%; }
    .section__paginator ul li {
      position: relative;
      vertical-align: middle;
      display: inline-block; }
    .section__paginator ul a:not(.paginator-arrow) {
      padding-top: 5px;
      width: 30px;
      height: 30px;
      display: block;
      text-decoration: none;
      font-size: 1.4rem;
      color: #717171; }
    .section__paginator ul a:not(.paginator-points):hover,
    .section__paginator ul a:not(.paginator-points):active {
      background-color: #71a6e1;
      color: #fff;
      border-radius: 100%; }

.paginator-arrow {
  display: block;
  width: 30px;
  height: 30px;
  text-decoration: none;
  color: #237c80;
  font-size: 3rem;
  border-radius: 100%;
  border: 3px solid #237c80; }
  .paginator-arrow:hover {
    display: block;
    color: #fff;
    background-color: #71a6e1;
    border-color: #71a6e1; }
  .paginator-arrow a {
    position: relative; }
  .paginator-arrow i {
    position: absolute;
    left: -0.6px;
    bottom: -8px; }

.paginator-points::before {
  content: '. . .';
  font-size: 1.8rem;
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  right: 3px;
  bottom: 2px;
  font-weight: 1000;
  color: #717171; }

.footer {
  height: 350px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  -webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  margin-top: 200px; }

.footer-top,
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-top {
  height: 66%; }

.footer-top__logo img {
  width: 90px;
  height: 160px; }

.footer-top__box,
.footer-bottom__box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 700px; }

.footer-top__box {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 40px; }
  .footer-top__box h2 {
    font-size: 1.8rem; }

.footer-top__menu h2 {
  padding-left: 20px;
  font-size: 1.8rem; }

.footer-top__menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.footer-top__item a {
  display: block;
  text-decoration: none;
  color: #717171;
  font-size: 1.6rem;
  height: 100%;
  padding: 5px 20px 10px 20px;
  margin-bottom: 5px; }
  .footer-top__item a:active {
    text-shadow: 1px 1px 0 #717171; }

.footer-bottom {
  height: 33%; }

.footer-top__contacts {
  font-size: 1.6rem; }
  .footer-top__contacts h2 {
    padding-left: 20px; }
  .footer-top__contacts p {
    padding-left: 20px; }

.footer-top__contacts span {
  color: #237c80;
  font-weight: 500;
  display: block;
  line-height: 1.1; }
  .footer-top__contacts span a {
    display: block;
    height: 100%;
    padding: 0 20px 20px;
    text-decoration: none;
    color: inherit; }

.footer-bottom__copyright {
  color: #237c80;
  font-size: 1.4rem; }
  .footer-bottom__copyright ul {
    margin: 0;
    padding: 0 0 0 19px; }
  .footer-bottom__copyright a {
    text-decoration: none;
    color: inherit; }

.footer-bottom__social ul {
  list-style-type: none;
  position: relative;
  right: 140px; }

.footer-bottom__social li {
  display: inline; }

.footer-bottom__social a {
  text-decoration: none;
  color: #71a6e1;
  font-size: 2.5rem;
  margin: 0 10px; }
  .footer-bottom__social a:active {
    text-shadow: 1px 1px 0 #71a6e1; }

.footer-bottom__btn {
  position: relative;
  right: 30px; }
