@media screen and (min-width: 1600px) {
  .popup-background {
    height: 2761px;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1599px) {
  .container {
    max-width: 1100px;
  }
  .section__wrapper::before {
    left: -80px;
    right: -80px;
  }
  .filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  .section__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 45px;
    justify-items: center;
  }
  // ==========Adaptive for appeals-chat=============
  .section__left {
    width: 700px;
  }
  .status {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .chat {
    width: 100%;
  }
  .status__box {
    margin-top: 20px;
  }
  .chat__message {
    width: 600px;
  }
  .message-bottom {
    & p {
      position: relative;
      overflow: hidden;
      width: 500px;
      height: 60px;
      padding: 5px;
      text-overflow: ellipsis;
    }
  }
  .message-open {
    position: absolute;
    left: 545px;
    bottom: 15px;
  }
  .popup-background {
    height: 2761px;
  }
  .popup {
    top: 180px;
  }
  // ==========Adaptive for bills=============
  .section__table table {
    & tr {
      &.not-paid::after {
        width: 1110px;
      }
    }
  }
  // ==========Adaptive for appeals=============
  .appeals__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
    max-width: 900px;
  }
  .section__wrapper::before {
    left: -80px;
    right: -80px;
  }
  .header__btn {
    padding: 6px 20px;
  }
  .header__nav {
    position: relative;
    left: 50px;
  }
  .section__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 45px;
    justify-items: center;
  }
  .section__item {
    width: 286px;
    height: 490px;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 27px;
    position: relative;
  }
  .footer-top__logo img {
    width: 60px;
    height: 120px;
  }
  .footer-top__menu {
    padding-left: 100px;
  }
  .footer-top__contacts {
    position: relative;
    left: 55px;
  }
  .footer-bottom__btn {
    padding: 6px 26px;
    left: 85px;
  }
  .footer-bottom__social {
    ul {
      list-style-type: none;
      position: relative;
      left: 35px;
    }
  }
  // ==========Adaptive for appeals-chat=============
  .section__left {
    width: 550px;
  }
  .status {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .chat {
    width: 100%;
  }
  .status__box {
    margin-top: 20px;
  }
  .chat__message {
    width: 450px;
  }
  .message-bottom {
    & p {
      position: relative;
      overflow: hidden;
      width: 380px;
      height: 60px;
      padding: 5px;
      text-overflow: ellipsis;
    }
  }
  .message-open {
    position: absolute;
    left: 395px;
    bottom: 15px;
  }
  .popup-background {
    height: 2821px;
  }
  .popup {
    top: 180px;
  }
  // ==========Adaptive for bills=============
  .section__table table {
    & tr {
      &.not-paid::after {
        width: 910px;
      }
    }
  }
  // ==========Adaptive for appeals=============
  .appeals__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .header {
    height: 260px;
  }
  .container {
    max-width: 640px;
  }
  .section__wrapper::before {
    left: -90px;
    right: -90px;
  }
  .header__content {
    flex-direction: column;
  }
  .header__logo {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .header__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    min-width: 600px;
    height: 100%;
  }

  .header__item {
    margin: 0 30px;
    a {
      padding-bottom: 12px;
      &:hover {
        border-bottom: none;
      }
    }
  }
  .header__nav {
    ul {
      padding-top: 0;
    }
  }
  .header__btn {
    // margin-bottom: 15px;
    padding: 6px 20px;
    order: -1;
  }
  .header__box {
    order: -2;
    margin-bottom: 10px;
  }
  .section__title {
    justify-content: center;
  }
  .filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .form__input {
    margin-bottom: 10px;
    position: relative;
    left: 18px;
  }
  .form__submit {
    right: 30px;
  }
  .section__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 45px;
    justify-items: center;
  }
  .footer {
    height: 400px;
  }
  .footer-top {
    justify-content: center;
  }
  .footer-top__box {
    justify-content: space-between;
    min-width: 600px;
  }

  .footer-top__logo img {
    display: none;
  }
  .footer-top__menu {
    padding-left: 0px;
  }
  .footer-top__contacts {
    position: relative;
    // left: 70px;
  }
  .footer-bottom__copyright {
    padding-left: 30px;
  }
  .footer-bottom__box {
    flex-direction: column;
    justify-content: space-around;
    min-width: 400px;
    position: relative;
    left: 120px;
  }
  .footer-bottom__btn {
    padding: 6px 20px;
    right: 80px;
  }
  .footer-bottom__social {
    ul {
      list-style-type: none;
      position: relative;
      right: 100px;
    }
  }
  // ==========Adaptive for appeals-chat=============
  .section__container {
    position: relative;
  }
  .section__right {
    position: absolute;
    right: 165px;
    top: 140px;
  }
  .section__left {
    width: 640px;
  }
  .status {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .chat {
    width: 100%;
    margin: 590px auto 0px;
  }
  .status__box {
    margin-top: 20px;
  }
  .chat__message {
    width: 480px;
    margin-right: 0;
    // left: -40px;
  }
  .chat__message--incoming {
    position: relative;
    left: 160px;
    background-color: $frame-color;
  }
  .message-bottom {
    & p {
      position: relative;
      overflow: hidden;
      width: 380px;
      height: 60px;
      padding: 5px;
      text-overflow: ellipsis;
    }
  }
  .message-open {
    position: absolute;
    left: 425px;
    bottom: 15px;
  }
  .message-paginator {
    ul {
      text-align: center;
    }
  }
  .popup-background {
    height: 3541px;
  }
  .popup {
    height: 550px;
    top: 310px;
  }
  .input-container {
    height: 270px;
  }
  // ==========Adaptive for bills=============
  .section__table table {
    & tr {
      &.not-paid::after {
        width: 650px;
      }
    }
  }
  // ==========Adaptive for appeals=============
  .appeals__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 760px) and (max-width: 959px) {
  .header {
    height: 260px;
  }
  .container {
    max-width: 580px;
  }
  .section__wrapper::before {
    left: -30px;
    right: -30px;
  }
  .header__content {
    flex-direction: column;
  }
  .header__logo {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .header__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    min-width: 600px;
    height: 100%;
  }
  .header__item {
    margin: 0 30px;
    a {
      padding-bottom: 12px;
      &:hover {
        border-bottom: none;
      }
    }
  }
  .header__nav {
    ul {
      padding-top: 0;
    }
  }
  .header__btn {
    // margin-bottom: 15px;
    padding: 6px 20px;
    order: -1;
  }
  .header__box {
    order: -2;
    margin-bottom: 10px;
  }
  .filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .form__input {
    margin-bottom: 10px;
    position: relative;
    left: 18px;
  }
  .form__submit {
    right: 30px;
  }
  .section__title {
    justify-content: center;
  }
  .section__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 45px;
    justify-items: center;
  }
  .section__item {
    width: 280px;
  }
  .footer {
    height: 400px;
  }
  .footer-top {
    justify-content: center;
  }
  .footer-top__box {
    justify-content: space-between;
    min-width: 600px;
  }

  .footer-top__logo img {
    display: none;
  }
  .footer-top__menu {
    padding-left: 0px;
  }
  .footer-top__contacts {
    position: relative;
    // left: 70px;
  }
  .footer-bottom__copyright {
    padding-left: 0px;
  }
  .footer-bottom__box {
    flex-direction: column;
    justify-content: space-around;
    min-width: 200px;
    position: relative;
    left: 65px;
  }
  .footer-bottom__btn {
    padding: 6px 26px;
    right: 50px;
  }
  .footer-bottom__social {
    ul {
      list-style-type: none;
      position: relative;
      right: 75px;
    }
  }
  // ==========Adaptive for appeals-chat=============
  .section__container {
    position: relative;
  }
  .section__right {
    position: absolute;
    left: 150px;
    top: 140px;
  }
  .section__left {
    width: 640px;
  }
  .status {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .chat {
    width: 100%;
    margin: 590px auto 0px;
  }
  .status__box {
    margin-top: 20px;
  }
  .chat__message {
    width: 480px;
    margin-right: 0;
    // left: -40px;
  }
  .chat__message--incoming {
    position: relative;
    left: 100px;
    background-color: $frame-color;
  }
  .message-bottom {
    & p {
      position: relative;
      overflow: hidden;
      width: 380px;
      height: 60px;
      padding: 5px;
      text-overflow: ellipsis;
    }
  }
  .message-open {
    position: absolute;
    left: 425px;
    bottom: 15px;
  }
  .message-paginator {
    ul {
      text-align: center;
    }
  }
  .popup-background {
    height: 3541px;
  }
  .popup {
    width: 600px;
    height: 550px;
    top: 310px;
  }
  .input-container {
    height: 270px;
    width: 450px;
  }
  .popup__close {
    left: 540px;
  }
  // ==========Adaptive for bills=============
  .section__table {
    &::before {
      content: '';
      left: -15px;
      right: -15px;
    }
  }
  .section__table table {
    border-spacing: 25px;
    & tr {
      width: 450px;
      &.not-paid::after {
        width: 550px;
        right: 15px;
        height: 150px;
        margin-top: -150px;
      }
      & td {
        display: flex;
        justify-content: space-between;
        border-right: none !important;
        &:last-child {
        }
        &::before {
          display: block;
          content: attr(data-label);
          color: $text-color;
          font-weight: 600;
        }
      }
    }
  }
  table tr:first-child {
    display: none;
  }
  // ==========Adaptive for appeals=============
  .appeals__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  .header {
    height: 260px;
    z-index: 0;
  }
  .container {
    max-width: 350px;
  }
  .section__wrapper::before {
    content: '';
    position: absolute;
    left: -50px;
    right: -50px;
  }
  .header__content {
    flex-direction: column;
  }
  .header__logo {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .header__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    height: 100%;
  }
  .header__box {
    margin-bottom: 10px;
    order: -2;
  }
  .header__item {
    margin: 0 30px;
    a {
      padding-bottom: 12px;
      &:hover {
        border-bottom: none;
      }
    }
  }
  .header__nav {
    ul {
      padding-top: 0;
    }
  }
  .header__btn {
    // margin-bottom: 15px;
    padding: 6px 20px;
    order: -1;
  }
  .section__title {
    justify-content: center;
  }
  .filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .form__input {
    width: 300px;
    margin-bottom: 10px;
    position: relative;
    left: 20px;
  }
  .form__submit {
    right: 30px;
  }
  .section__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 45px;
    justify-items: center;
  }
  .footer {
    height: 770px;
  }
  .footer-top {
    height: 66%;
  }
  .footer-top,
  .footer-bottom {
    min-width: 240px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .footer-bottom {
    margin-top: 20px;
    height: 30%;
  }
  .footer-top__logo img {
    margin-top: 20px;
    width: 54px;
    height: 96px;
    // display: none;
  }
  .footer-top__menu h2,
  .footer-top__contacts h2 {
    padding-left: 0px;
  }
  .footer-top__menu,
  .footer-top__contacts {
    text-align: center;
    padding: 0;
    margin: 0;
    & p {
      padding-left: 0;
    }
  }
  .span-container {
    & span.relative {
      position: relative;
      right: 36px;
    }
  }
  .footer-top__menu {
    margin-bottom: 10px;
  }
  .footer-bottom__copyright {
    position: relative;
    bottom: 25px;
    padding-left: 0px;
    order: 1;
  }
  .footer-top__box,
  .footer-bottom__box {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 200px;
    position: relative;
  }
  .footer-bottom__btn {
    padding: 6px 26px;
    right: 0;
  }
  .footer-bottom__social {
    margin-top: 10px;
    ul {
      right: 0;
      padding-left: 0;
    }
  }
  // ==========Adaptive for appeals-chat=============
  .section__container {
    position: relative;
  }
  .section__right {
    position: absolute;
    left: 20px;
    top: 140px;
  }
  .section__left {
    width: 350px;
  }
  .status {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .line::after,
  .line::before {
    content: '';
    display: none;
  }
  .chat {
    width: 100%;
    margin: 590px auto 0px;
  }
  .status__box {
    width: 440px;
    margin-top: 20px;
  }
  .chat__message {
    width: 350px;
    margin-right: 0;
    left: -15px;
  }
  .chat__message--incoming {
    position: relative;
    left: 25px;
    background-color: $frame-color;
  }
  .message-bottom {
    & p {
      position: relative;
      overflow: hidden;
      width: 300px;
      height: 60px;
      padding: 5px;
      text-overflow: ellipsis;
    }
  }
  .message-open {
    position: absolute;
    left: 295px;
    bottom: 15px;
  }
  .message-paginator {
    ul {
      text-align: center;
    }
  }
  .popup-background {
    height: 3911px;
  }
  .popup {
    width: 400px;
    height: 550px;
    top: 20px;
  }
  .input-container {
    height: 270px;
    width: 290px;
  }
  .popup__close {
    left: 350px;
  }
  // ==========Adaptive for bills=============
  .section__table {
    &::before {
      content: '';
      left: -15px;
      right: -15px;
    }
  }
  .section__table table {
    border-spacing: 25px;
    & tr {
      width: 450px;
      &.not-paid::after {
        width: 320px;
        right: 15px;
        height: 150px;
        margin-top: -150px;
      }
      & td {
        display: flex;
        justify-content: space-between;
        border-right: none !important;
        &:last-child {
        }
        &::before {
          display: block;
          content: attr(data-label);
          color: $text-color;
          font-weight: 600;
        }
      }
    }
  }
  table tr:first-child {
    display: none;
  }
  // ==========Adaptive for appeals=============
  .appeals__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .appeals__item {
    width: 350px;
    height: 600px;
    padding: 15px;
  }
  .item__status {
    height: 80px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .item__top {
    & b {
      text-align: center;
      margin-bottom: 10px;
    }
  }
  .top-span {
    padding-top: 5px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  body {
    overflow-x: hidden;
  }
  .header {
    min-width: 320px;
    height: 370px;
    z-index: 0;
  }
  .container {
    max-width: 280px;
  }
  .section__wrapper::before {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
  }
  .header__content {
    flex-direction: column;
  }
  .header__logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    height: 100%;
  }
  .header__box {
    margin-top: 10px;
    margin-bottom: 10px;
    order: -2;
  }
  .header__item {
    margin: 0 30px;
    a {
      padding-bottom: 12px;
      &:hover {
        border-bottom: none;
      }
    }
  }
  .header__nav {
    ul {
      padding-top: 0;
      flex-direction: column;
      text-align: center;
    }
  }
  .header__btn {
    margin-top: 10px;
    padding: 6px 20px;
    order: -1;
  }
  .section__title {
    justify-content: center;
  }
  .filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .filter__box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form__input {
    width: 290px;
    margin-bottom: 10px;
    padding-right: 40px;
  }
  .form__submit {
    position: absolute;
    left: 245px;
    top: 4px;
  }
  .price {
    margin-left: 0;
    margin-top: 10px;
  }
  .section__wrapper::before {
    content: '';
    position: absolute;
    left: -20px;
    right: -20px;
    border-radius: 20px;
  }
  .section__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 45px;
    justify-items: center;
  }
  .section__item {
    width: 280px;
  }
  .section__paginator {
    a {
      // width: 25px;
      // height: 25px;
    }
    ul li:nth-child(4),
    ul li:nth-child(6) {
      display: none;
    }
  }
  .footer {
    height: 770px;
  }
  .footer-top {
    height: 66%;
  }
  .footer-top,
  .footer-bottom {
    min-width: 240px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .footer-bottom {
    margin-top: 20px;
    height: 30%;
  }
  .footer-top__logo img {
    margin-top: 20px;
    width: 54px;
    height: 96px;
    // display: none;
  }
  .footer-top__menu h2,
  .footer-top__contacts h2 {
    padding-left: 0px;
  }
  .footer-top__menu,
  .footer-top__contacts {
    text-align: center;
    padding: 0;
    margin: 0;
    & p {
      padding-left: 0;
    }
  }
  .span-container {
    & span.relative {
      position: relative;
      right: 36px;
    }
  }
  .footer-top__menu {
    margin-bottom: 10px;
  }
  .footer-bottom__copyright {
    font-size: 1.3rem;
    position: relative;
    bottom: 25px;
    padding-left: 0px;
    order: 1;
  }
  .footer-top__box,
  .footer-bottom__box {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 200px;
    position: relative;
  }
  .footer-bottom__btn {
    padding: 6px 26px;
    right: 0;
  }
  .footer-bottom__social {
    margin-top: 10px;
    ul {
      right: 0;
      padding-left: 0;
    }
  }
  // ==========Adaptive for appeals-chat=============
  .section__container {
    position: relative;
  }
  .section__right {
    width: 250px;
    position: absolute;
    top: 240px;
  }
  .section__button {
    position: relative;
    left: -15px;
  }
  .message-link {
    position: relative;
    left: -15px;
  }
  .section__left {
    width: 280px;
  }
  .status {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .line::after,
  .line::before {
    content: '';
    display: none;
  }
  .chat {
    width: 100%;
    margin: 590px auto 0px;
  }
  .status__box {
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 290px;
    margin-top: 20px;
  }
  .chat__message {
    width: 300px;
    margin-right: 0;
    left: -10px;
  }
  .chat__message--incoming {
    position: relative;
    background-color: $frame-color;
  }
  .message-bottom {
    & p {
      position: relative;
      overflow: hidden;
      width: 300px;
      height: 60px;
      padding: 5px;
      text-overflow: ellipsis;
    }
  }
  .message-open {
    position: absolute;
    left: 250px;
    bottom: 15px;
  }
  .message-paginator {
    ul {
      text-align: center;
    }
  }
  .popup-background {
    height: 4130px;
  }
  .popup {
    width: 300px;
    height: 550px;
    top: 390px;
    margin: 0px auto;
    top: 70px;
  }
  .input-container {
    height: 270px;
    width: 200px;
  }
  .popup__close {
    left: 250px;
  }
  .popup__button-add-file {
    left: 30px;
    width: 250px;
  }
  // ==========Adaptive for bills=============
  .section__table {
    &::before {
      content: '';
      left: -10px;
      right: -10px;
    }
  }
  .section__table table {
    border-spacing: 25px;
    & tr {
      width: 450px;
      &.not-paid::after {
        width: 250px;
        right: 15px;
        height: 150px;
        margin-top: -150px;
      }
      & td {
        display: flex;
        justify-content: space-between;
        border-right: none !important;
        &::before {
          display: block;
          content: attr(data-label);
          color: $text-color;
          font-weight: 600;
        }
      }
    }
  }
  table tr:first-child {
    display: none;
  }
  // ==========Adaptive for appeals=============
  .appeals__list {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 25px;
  }
  .appeals__item {
    width: 280px;
    height: 740px;
    padding: 15px;
  }
  .item__status {
    height: 80px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .item__top {
    & b {
      text-align: center;
      margin-bottom: 10px;
    }
  }
  .top-span {
    padding-top: 5px;
  }
  .item__bottom {
    flex-direction: column;
  }
  .appeals-avatar {
    margin: 0 auto;
  }
  .block-btn--bottom {
    margin-left: 60px;
  }
}
