.section__container {
  display: flex;
  justify-content: space-between;
}
.status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 930px;
}
.status__box {
  display: flex;
  justify-content: space-between;
  width: 470px;
  & span {
    display: block;
    width: 140px;
    font-size: 1.4rem;
    border-radius: 20px;
    border: 0.5px solid $text-color;
    background-color: #fff;
    color: $not-active-color;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 400;
  }
}
.line::after,
.line::before {
  content: '';
  display: block;
  width: 26px;
  border-bottom: 0.5px solid $frame-color;
  position: relative;
}
.line:before {
  top: 50%;
  left: -26px;
}
.line:after {
  bottom: 50%;
  right: -138px;
}
.chat {
  display: block;
  width: 970px;
}
.chat__message {
  position: relative;
  display: block;
  width: 860px;
  height: 140px;
  border-radius: 20px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 40px;
  & span {
    font-size: 1.4rem;
    font-weight: 800;
    color: $text-color;
    display: block;
    width: 30px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    border-radius: 100%;
    border: 0.5px solid $frame-color;
    text-align: center;
    position: relative;
    margin-right: 10px;
  }
}
.chat__message--incoming {
  position: relative;
  left: 90px;
  background-color: $frame-color;
}
.message-top {
  display: flex;
  margin-left: 5px;
  margin-bottom: 15px;
}
.message-time {
  display: block;
  font-size: 12px;
  font-weight: 400;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  border: 0.5px solid $frame-color;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
}
.message-time--incoming {
  border: 0.5px solid $main-color;
}
.message-bottom {
  width: 100%;
  display: flex;
  & p {
    display: block;
    width: 780px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }
}
.message-bottom--incoming {
  & p {
    color: #fff;
  }
}
.message-open {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid $frame-color;
  left: 795px;
  bottom: 30px;
  & i {
    display: block;
    position: absolute;
    color: $main-color;
    font-size: 2rem;
    left: 10px;
    top: 3px;
  }
}
.message-open--incoming {
  border: 1px solid $main-color;
  background-color: #fff;
  & i {
    color: $frame-color;
  }
}
.message-top__avatar {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  & picture img {
    border-radius: 100%;
    border: 0.5px solid $main-color;
  }
}
.message-paginator {
  margin-top: 80px;
  ul {
    text-align: left;
    & li {
      text-align: center;
    }
  }
}
.message-item {
  position: relative;
  width: 310px;
  height: 400px;
}
.message-price {
  position: absolute;
  left: 20px;
  top: 15px;
  z-index: 1;
  & i {
    font-size: 1.5rem;
    margin: 0 1.5px;
  }
}
.message-avatar {
  position: relative;
  top: 20px;
  text-align: center;
}
.message-rating {
  margin-top: 35px;
}
.message-name {
  font-size: 1.6rem;
  font-weight: 600;
}
.message-button {
  display: block;
  width: 140px;
  height: 35px;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  padding: 0;
}
.message-item__bottom {
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & p {
    color: $text-color;
    font-size: 1.4rem;
  }
  & span {
    color: $main-color;
    font-size: 1.6rem;
    font-weight: 800;
  }
}
.section__button {
  padding: 4px 40px;
  width: 310px;
  margin-top: 30px;
  & span {
    font-size: 1.6rem;
    font-weight: 600px;
    white-space: nowrap;
  }
}

.folder::before {
  content: '\e808';
  font-size: 2rem;
  position: relative;
  left: -5px;
}
.section__right {
  & a {
    display: block;
    width: 310px;
    background-color: $frame-color;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 15px;
  }
}
