.appeals__list {
  grid-template-columns: repeat(3, 1fr);
}
.appeals__item {
  width: 420px;
  height: 525px;
  background-color: $item-background-color;
  padding: 20px;
  border-radius: 17.5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  & b {
    display: block;
    font-size: 1.6rem;
  }
}
.item__status {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin-bottom: 20px;
}
.top-span {
  padding-top: 3px;
}
.item__top {
  & b {
    margin-bottom: 10px;
  }
  & p {
    display: block;
    font-size: 1.4rem;
    padding-bottom: 15px;
    border-bottom: 0.3px solid $frame-color;
  }
}
.item__middle {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}
.appeals__link {
  & a {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    color: $main-color;
    font-weight: 600;
    transition: 0.1s;
    &:active {
      text-shadow: 1px 1px 0 $main-color;
      -webkit-tap-highlight-color: transparent;
    }
  }
}
.item__bottom {
  display: flex;
  padding-top: 15px;
  border-top: 0.3px solid $frame-color;
}
.bottom__text {
  font-size: 1.4rem;
  line-height: 1.2;
}
.appeals-avatar {
  display: block;
  width: 75px;
  height: 75px;
  &::before {
    content: '';
    left: -2.5px;
    bottom: -2.5px;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 0.5px solid $frame-color;
  }
}
.bottom__right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  & p {
    font-size: 1.2rem;
    line-height: 1.1;
  }
}
.right__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 5px;
}
.item-rating--top,
.item-price--top {
  margin: 0;
}
.item-rating--top {
  position: relative;
  right: 7px;
  bottom: 3px;
  width: 90px;
  & .icon-star {
    font-size: 1rem;
    padding: 0;
  }
}
.item-price--top {
  & .icon-money-bag {
    font-size: 1rem;
  }
}
.item-speciality--bottom {
  margin-left: 5px;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.item-speciality--bottom .criminal::before {
  content: '\e806';
  position: relative;
  left: -5px;
  color: $frame-color;
}
.block-btn--bottom {
  width: 120px;
  padding: 3px 0px;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 15px;
}
