.section__table {
  position: relative;
  top: 45px;
  &::before {
    content: '';
    position: absolute;
    left: -30px;
    right: -30px;
    bottom: -50px;
    top: -20px;
    background-color: $item-background-color;
    z-index: -1;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}
.section__table table {
  width: 100%;
  border-spacing: 0 0;
  & tr {
    position: relative;
    &:not(:first-child) {
      width: 200px;
      height: 50px;
      vertical-align: middle;
    }
    &.not-paid::after {
      position: absolute;
      content: '';
      display: block;
      width: 1310px;
      height: 30px;
      background-color: $frame-color;
      opacity: 0.1;
      border-radius: 15px;
      right: -5px;
      margin-top: 10px;
    }
  }
  & th {
    font-size: 2.4rem;
    border-bottom: 0.3px solid $frame-color;
    font-weight: 800;
    height: 50px;
    vertical-align: top;
    &:first-child {
      text-align-last: left;
    }
    &:not(:nth-child(5)) {
      border-right: 0.3px solid $frame-color;
    }
  }
  & td {
    font-size: 1.8rem;
    font-weight: 400;
    &:not(:nth-child(5)) {
      border-right: 0.3px solid $frame-color;
    }
    &:not(:first-child) {
      text-align: center;
    }
    &:first-child {
      color: $main-color;
    }
  }
}
.highlight {
  color: $main-color;
}
.table__paginator {
  margin: 60px auto;
}
.table-container.section__wrapper::before {
  bottom: -150px;
}
