@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Acrom/Acrom-Regular.eot') format('eot'),
    url('../font/Acrom/Acrom-Regular.ttf') format('ttf'),
    url('../font/Acrom/Acrom-Regular.woff') format('woff'),
    url('../font/Acrom/Acrom-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 600;
  src: url('../font/Acrom/Acrom-Medium.eot') format('eot'),
    url('../font/Acrom/Acrom-Medium.ttf') format('ttf'),
    url('../font/Acrom/Acrom-Medium.woff') format('woff'),
    url('../font/Acrom/Acrom-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 800;
  src: url('../font/Acrom/Acrom-Bold.eot') format('eot'),
    url('../font/Acrom/Acrom-Bold.ttf') format('ttf'),
    url('../font/Acrom/Acrom-Bold.woff') format('woff'),
    url('../font/Acrom/Acrom-Bold.woff2') format('woff2');
}
