@import 'reset';
@import 'variables';
@import 'fonts';
html {
  font-size: 62.5%;
}
body {
  font-family: 'Acrom';
  color: $text-color;
}
.header {
  width: 100%;
  height: 130px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 860px;
  height: 100%;
}

.header__nav {
  height: 100%;
  ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding-left: 0px;
    list-style-type: none;
    margin: 0 auto;
    padding-top: 52px;
  }
}

.header__item {
  margin: 0 30px;
  a {
    display: block;
    padding-top: 15px;
    padding-bottom: 37px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: $text-color;
    &:hover {
      font-weight: 700;
      color: $main-color;
      border-bottom: 3px solid $main-color;
    }
  }
}
.block-btn {
  font-size: 1.6rem;
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid $main-color;
  color: $main-color;
  font-weight: 500;
  padding: 8px 50px;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background-color: $main-color;
    color: #fff;
  }
  &:active {
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
  }
  &:active,
  &:focus {
    outline: 0;
  }
}

.header__box {
  font-size: 2.5rem;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  border: none;
  background-color: #fff;
  color: $main-color;
  cursor: pointer;
  &:active,
  &:focus {
    outline: 0;
  }
  &:active {
    text-shadow: 1px 1px 0 rgba(35, 124, 128, 0.5);
  }
}
.header__bell {
  text-decoration: none;
  color: $main-color;
  position: relative;
  &:hover::after,
  &:active::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 16px;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    border-radius: 100%;
    background-color: $frame-color;
    z-index: 1;
  }
  &:active {
    text-shadow: 1px 1px 0 rgba(35, 124, 128, 0.5);
  }
}
.section__title {
  width: 100%;
  height: 110px;
  align-items: center;
  display: flex;
}
.title__logo {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
  & i {
    position: relative;
    color: $main-color;
    font-size: 3rem;
    left: 10px;
  }
  &::before {
    content: '';
    position: absolute;
    left: -5px;
    bottom: -5px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 0.5px solid $frame-color;
  }
}
.section__title span {
  color: $main-color;
  font-size: 2.6rem;
  font-weight: 700;
  padding-left: 20px;
}

.section__wrapper {
  position: relative;
  top: 25px;
}
.section__wrapper::before {
  content: '';
  position: absolute;
  left: -150px;
  right: -150px;
  top: -25px;
  bottom: -60px;
  background-color: #f9f9f9;
  border-radius: 80px;
  z-index: -1;
}
.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.form__input {
  width: 420px;
  height: 40px;
  padding-left: 20px;
  padding-right: 80px;
  border: 0.5px solid $frame-color;
  border-radius: 20px;
  font-size: 1.4rem;
  &:active,
  &:focus {
    outline: 0;
  }
}
.form__submit {
  font-size: 2rem;
  border: none;
  color: $main-color;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  right: 50px;
  top: 2px;
  &:active,
  &:focus {
    outline: 0;
  }
  &:active {
    text-shadow: 1px 1px 0 rgba(35, 124, 128, 0.5);
  }
}
.filter__box {
  display: flex;
  justify-content: space-between;
}
.rating,
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border: 0.5px solid $frame-color;
  border-radius: 20px;
  background-color: #fff;
}
.rating {
  width: 280px;
  padding: 0 15px;
}
.price {
  width: 140px;
  margin-left: 20px;
  padding: 0 13px;
}
.rating__text,
.price__text {
  font-size: 1.6rem;
  font-weight: 500;
}
.rating__value,
.price__value {
  overflow: hidden;
  height: 22px;
}
.rating__value {
  width: 100px;
  padding: 0;
}
.price__value {
  width: 60px;
}
.rating__value label,
.price__value label {
  display: block;
  margin: 0 2.5px;
}
.rating__value:not(:checked) > input,
.price__value:not(:checked) > input {
  display: none;
}

.rating__value:not(:checked) > label,
.price__value:not(:checked) > label {
  float: right;
  padding: 0;
  cursor: pointer;
  font-size: 1.5rem;
  color: $not-active-color;
}
.rating__value > input:checked ~ label,
.price__value > input:checked ~ label {
  color: $main-color;
}
.rating__value:not(:checked) > label:hover,
.rating__value:not(:checked) > label:hover ~ label,
.price__value:not(:checked) > label:hover,
.price__value:not(:checked) > label:hover ~ label {
  color: $main-color;
}
.rating__value > input:checked + label:hover,
.rating__value > input:checked + label:hover ~ label,
.rating__value > input:checked ~ label:hover,
.rating__value > input:checked ~ label:hover ~ label,
.rating__value > label:hover ~ input:checked ~ label,
.price__value > input:checked + label:hover,
.price__value > input:checked + label:hover ~ label,
.price__value > input:checked ~ label:hover,
.price__value > input:checked ~ label:hover ~ label,
.price__value > label:hover ~ input:checked ~ label {
  color: $main-color;
}
.rating__value > label:active,
.price__value > label:active {
  position: relative;
}
.section__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 45px;
}
.section__item {
  width: 309px;
  height: 490px;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 27px;
  position: relative;
}
.item-avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: relative;
  &::before {
    content: '';
    left: -5px;
    bottom: -5px;
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: 0.5px solid $frame-color;
  }
}
.item-portfolio {
  font-size: 2rem;
  position: absolute;
  right: 25px;
  top: 25px;
  color: $main-color;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:active,
  &:focus {
    outline: 0;
  }
  &:active {
    text-shadow: 1px 1px 0 rgba(35, 124, 128, 0.5);
  }
}
.item-rating {
  text-align: center;
  width: 170px;
  height: 20px;
  font-size: 2rem;
  color: $not-active-color;
  line-height: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}
.active {
  color: $main-color;
}
.item-rating i {
  padding-left: 5px;
  width: 20px;
  height: 20px;
}
.item-name {
  font-size: 1.5rem;
  font-weight: 500;
}
.item-speciality {
  margin-top: 15px;
  border-radius: 6px;
  border: none;
  background-color: $frame-color;
  width: 170px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 400;
}
.item-speciality .civil-cases::before {
  content: '\e805';
  font-size: 1.5rem;
  position: relative;
  left: -5px;
}
.item-speciality .criminal::before {
  content: '\e806';
  font-size: 1.5rem;
  position: relative;
  left: -5px;
}
.item-text {
  font-size: 1.4rem;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  width: 255px;
  height: 80px;
  line-height: 1.2;
}
.item-price {
  color: $not-active-color;
  margin-top: 15px;
  margin-bottom: 15px;
}
.item-price i {
  font-size: 2rem;
  margin: 0 2.5px;
}
.item-button {
  padding: 6px 26px;
  font-size: 1.4rem;
}
.section__paginator {
  display: block;
  margin: 80px auto 0;
  text-align: center;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    li {
      position: relative;
      vertical-align: middle;
      display: inline-block;
    }
    a:not(.paginator-arrow) {
      padding-top: 5px;
      width: 30px;
      height: 30px;
      display: block;
      text-decoration: none;
      font-size: 1.4rem;
      color: $text-color;
    }
    a:not(.paginator-points):hover,
    a:not(.paginator-points):active {
      background-color: $frame-color;
      color: #fff;
      border-radius: 100%;
    }
  }
}
.paginator-arrow {
  display: block;
  width: 30px;
  height: 30px;
  text-decoration: none;
  color: $main-color;
  font-size: 3rem;
  border-radius: 100%;
  border: 3px solid $main-color;
  &:hover {
    display: block;
    color: #fff;
    background-color: $frame-color;
    border-color: $frame-color;
  }
  & a {
    position: relative;
  }
  & i {
    position: absolute;
    left: -0.6px;
    bottom: -8px;
  }
}
.paginator-points::before {
  content: '. . .';
  font-size: 1.8rem;
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  right: 3px;
  bottom: 2px;
  font-weight: 1000;
  color: $text-color;
}

.footer {
  height: 350px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  margin-top: 200px;
}

.footer-top,
.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-top {
  height: 66%;
}
.footer-top__logo img {
  width: 90px;
  height: 160px;
}
.footer-top__box,
.footer-bottom__box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-width: 700px;
}
.footer-top__box {
  align-items: flex-start;
  padding-top: 40px;
  h2 {
    font-size: 1.8rem;
  }
}
.footer-top__menu h2 {
  padding-left: 20px;
  font-size: 1.8rem;
}
.footer-top__menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer-top__item {
  a {
    display: block;
    text-decoration: none;
    color: $text-color;
    font-size: 1.6rem;
    height: 100%;
    padding: 5px 20px 10px 20px;
    margin-bottom: 5px;
    &:active {
      text-shadow: 1px 1px 0 rgba(113, 113, 113, 1);
    }
  }
}
.footer-bottom {
  height: 33%;
}
.footer-top__contacts {
  font-size: 1.6rem;
  h2 {
    padding-left: 20px;
  }
  p {
    padding-left: 20px;
  }
}
.footer-top__contacts span {
  color: $main-color;
  font-weight: 500;
  display: block;
  line-height: 1.1;
  a {
    display: block;
    height: 100%;
    padding: 0 20px 20px;
    text-decoration: none;
    color: inherit;
  }
}

.footer-bottom__copyright {
  color: $main-color;
  font-size: 1.4rem;
  ul {
    margin: 0;
    padding: 0 0 0 19px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
.footer-bottom__social {
  ul {
    list-style-type: none;
    position: relative;
    right: 140px;
  }
  li {
    display: inline;
  }
  a {
    text-decoration: none;
    color: $frame-color;
    font-size: 2.5rem;
    margin: 0 10px;
    &:active {
      text-shadow: 1px 1px 0 rgba(113, 166, 225, 1);
    }
  }
}
.footer-bottom__btn {
  position: relative;
  right: 30px;
}
